html {
  --main: #F24088;
  --hover: #F5C549;
  --gray: #5C5A5A;
  --light-gray: #F2F2F2;
}

/* axes formatting */

.beeswarm.axis path,
.beeswarm.y.axis line {
    stroke: none;
}

.beeswarm.x.axis line {
  stroke: var(--light-gray);
}

.beeswarm.hlines line{
  stroke: var(--main);
}

.beeswarm.vlines line{
  stroke: var(--light-gray);
}

/* text formatting */

.beeswarm.axis text {
  font-family: Helvetica;
  font-size: 14px;
}

.beeswarm.y.axis text {
  fill: var(--main);
  font-weight: bold;
}

.beeswarm.x.axis.label {
  font-weight: bold;
}

.beeswarm.x.axis text {
  fill: var(--gray)
}

/* tooltip */

/* .tooltip {
  pointer-events: none;
  position: absolute;
  visibility: hidden;
  background-color: white;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
} */

/* base CSS element */
.beeswarm.tooltip {
  display: block;
	background: white;
  visibility: hidden;
	position: absolute;
  height: 200px;
  width: 200px;
}

.beeswarm.tooltip div {
  margin-top: 2px;
}

.beeswarm.tooltip span {
  font-family: Helvetica;
  font-size: 14px;
  color: var(--main);
}

.tooltip a {
  color: var(--main);
  margin-left: 0.25em;
}


/* #likes {
  background-image: url('./style/insta_icons_like.svg');;
} */

/* arrows - :before and :after */

/* .tooltip:before {
	position: absolute;
	display: inline-block;
	border-top: 22px solid var(--main);
	border-right: 22px solid transparent;
	border-bottom: 22px solid transparent;
  border-left: 22px transparent;
	left: -1px;
	top: 210px;
	content: '';
}

.tooltip:after {
	position: absolute;
	display: inline-block;
	border-right: 20px solid transparent;
	border-top: 20px solid white;
	border-bottom: 20px solid transparent;
	left: 0px;
	top: 210px;
	content: '';
}
 .tooltip.top:before {
	border-bottom: 22px solid var(--main);
	border-top: 22px solid transparent;
	top: -45px;
}

.tooltip.top:after {
	border-bottom: 20px solid white;
	border-top: 20px solid transparent;
	top: -40px;
} */







